body {
    /* zera margem do corpo */
    margin: 0;
    /* zera espaçamento interno */
    padding: 0;
    /* borda */
    box-sizing: border-box;
    /* Cor do site */
    background-color: #1656b6;
    /* fonte do site */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* layout */
    display: flex;
    /* centralização */
    justify-content: center;
    /* alinhamento */
    align-items: center;
    /* altura dos objetos */
    height: 100vh;
}
.profile {
    /* SLA */
    padding: 5px;
    /* cor da fonte */
    color: rgb(255, 255, 255);
    /* alinhamento dos itens */
    align-items: center;
}
.profile img {
    /* largura da foto */
    width: 120px;
    /* altura da foto */
    height: 120px;
        /* borda da foto */
    border-radius: 50%;
/* foto no recorte */
    object-fit: cover;
    /* espaçamento entre a foto e os botões */
    margin-bottom: 15px;
}
.profile h1 {
    /* largura dos objetos */
    font-size: 24px;
    /* nada */
    margin-bottom: 5px;
}
.profile h2 {
    /* tamanho da fonte da descrição */
    font-size: 16px;
    /* largura da fonte */
    font-weight: 600;
    /* margens */
    margin-bottom: 10px;
}

.profile p {
    /* tamanho fonte */
    font-size: 14px;
    /* margens */
    margin-bottom: 20px;
}

/* Botões de link */
.links .btn {
    /* tipo do botão */
    display: block;
    /* largura do botão */
    width: 100%;
    /* cor do fundo do botão */
    background-color: white;
    /* cor da fonte */
    color: #2d2a52;
    /* decoração? */
    text-decoration: none;
    /* tamanho do bt */
    padding: 10px 0;
    /* borda do botão */
    border-radius: 10px;
    /* margens do botão */
    margin-bottom: 10px;
    /* n sei */
    transition: background 0.3s;
    /* alinhamento do texto */
    text-align: center;
}

.links .btn:hover {
    
    background-color: #ddd;
}